<h1 align="center" style ="font-size:32px;color: #606060;padding-bottom:0px;margin-bottom:15px">	如金公司简介</h1><hr / align="center" width="800px">
<table width="800" border="0" align="center"><tr><td width="100%">
<p style="text-indent: 2em; line-height: 20px;font-size:12px;margin-bottom: 12px;">
	如金秉承“用心智造3E自动化”的企业使命，立足先进制造业，致力于自动化设备的研发生产，实现机器取代人手，电脑取代仪器和网络取代纸笔，推动低成本生产和高速检测，协助企业成功转型，提升中国制造业核心竞争力！ </p>
</td></tr>
<tr><td width="100%">
<p style="text-indent: 2em; line-height: 20px;font-size:12px;margin-bottom: 12px;">
	<b style="font-size:14px;">如金愿景</b> ----  协助企业成功转型，提升中国制造业核心竞争力！ </p>
</td></tr>

<tr><td width="100%">
<p style="text-indent: 2em; line-height: 20px;font-size:12px;margin-bottom: 12px;">
	<b  style="font-size:14px;">如金使命</b> ----  用心智造3E自动化，推动中国企业低成本生产和高速检测！ </p> 
</td></tr>

<tr><td width="100%" style="text-indent: 2em; line-height: 20px;font-size:12px;">
<p >
	<b  style="font-size:14px;">如金价值观</b> ----  公司核心价值观是扎根于我们内心深处的核心信念，是公司的内在动力，更是我们面向未来的共同承诺。由此持续不断地为客户创造价值，进而形成感恩共赢文化!
我们追求：</p>	<div style="text-indent:3em;"><strong>1) </strong>成就客户:一切为了客户，客户需求是如金公司发展的原动力。我们坚持以客户为中心，快速响应客户需求，持续为客户创造长期价值进而成就客户。为客户提供有效服务，是我们工作的方向和价值评价的标尺，成就客户就是成就我们自己。
	</div><div style="text-indent:3em;"><strong>2)</strong>&nbsp;&nbsp;集思广益:象风暴一样把客户的意见，团队成员的灵感、思维和想法统统收集，然后从中寻找先进的技术、产品、解决方案和业务管理。
	</div><div style="text-indent:3em;"><strong>3)</strong>&nbsp;&nbsp;激情创新:创造企业氛围，形成激情团队，开放进取，达至锲而不舍的创新追求！。
	</div><div style="text-indent:3em;"><strong>4)</strong>&nbsp;&nbsp;感恩共赢:如金是所有利益相关者的如金，主要包括员工、客户、股东。只有员工、用户和股东持续共赢，如金才有可能实现永续经营。
	</div>
	<div style="padding-left:80px;"><img src="/static/img/about/价值观.jpg" width="300px" height="200px" align="center" alt="价值观"/></div>
	<br /><br /><br />
</td></tr>

<tr><td width="100%">
<p style="text-indent: 2em; line-height: 20px;font-size:12px;margin-bottom: 12px;">
	<b style="font-size:14px;">经营理念</b> ----  自动化设备引入3E理念，凝集了三类工程师的控制思维，帮助企业有效控制成本。
	</p>
	<div style="padding-left:100px;"><img src="/static/img/about/理念.jpg" width="500px" height="200px" align="center" alt="价值观"/></div>
	<br /><br />
</td></tr>

<tr><td width="100%">
<p style="text-indent: 2em; line-height: 20px;font-size:12px;margin-bottom: 12px;">
	<b style="font-size:14px;">产品定位</b> ----  立足先进制造业，致力于自动化设备的研发生产，实现机器取代人手，电脑取代仪器和网络取代纸笔，推动低成本生产和高速检测。
	</p>
	<div style="padding-left:100px;"><img src="/static/img/about/产品定位.jpg" width="500px" height="200px" align="center" alt="价值观"/></div>
	<br /><br />
</td></tr>

<tr><td width="100%" style="text-indent: 2em; line-height: 20px;font-size:12px;">
<p >
	<b  style="font-size:14px;">如金信条</b> ----  </p>	<div style="text-indent:3em;"><strong>1)</strong>凡事认真；
	</div><div style="text-indent:3em;"><strong>2)</strong>问题总会发生，将问题控制在前期；
	</div><div style="text-indent:3em;"><strong>3)</strong>细节决定成败。
	</div>
</td></tr>
</table>
<br /><br /><br /><br />