<html>  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Ruking Automated Device Tech. Ltd. Co.</title>
	<link href="/static/css/rotation.css" type="text/css" rel="stylesheet">
	<link href="/static/css/header/header.css" type="text/css" rel="stylesheet">
	<link href="/static/css/homepage.css" type="text/css" rel="stylesheet">
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.cycle.all.2.72.js"></script>
	<script type="text/javascript" src="/static/js/register.js"></script>
    <script type="text/javascript">
      $(function() {
        $('#slideshow').cycle({
          fx:     'scrollRight',//fade,turnDown,fade,curtainX,scrollRight (click),zoom,shuffle
          speed:  'slow',//fast
          timeout: 6000,
          pager:  '#nav',
          slideExpr: 'img',
          pagerEvent: 'mouseover',
          pauseOnPagerHover: true
        });
      });
    </script>
</head><body  style="background-color: #fafafa;">
				<select id="languageBox" name="languageBox" onchange="javascript:window.location.href=this.value" style="font-size:12px">
					<option value="index.jhtml">简体中文</option><option value="index_big.jhtml">繁體中文</option><option selected value="index_eng.jhtml">English</option>
				</select>
<table style="background-color: #8a8a8a;/*h160,b120*/" align="center" width="100%" cellspacing="0" cellpadding="0" border="0">
  <tbody><tr>
    <td rowspan=2 height="120" width="380" valign="top" align="right"><a href="$_url/"><img height="90" width="160" alt="Ruking Automated Device Tech. Ltd. Co." src="$_url/static/img/logo1-1.jpg" style=""></a></td>
	<td valign="bottom" align="center" style="width:700px;">
        <table width="600px" cellspacing="0" cellpadding="0" border="0"  style="font-size:12px;">
          <tbody>
          <tr>
			<td valign="bottom" style="padding-bottom:0px;width:300px;"><span class="headerlanguage">
			<a href="$_url/index.jhtml"> Simplified Chinese </a>|<a href="$_url/index_big.jhtml"> Traditional Chinese </a></span></td>
            <td align="right" colspan=7 valign="bottom">
				
            </td>
          </tr><tr><td align="left" colspan=8 style="padding-top:12px;"><div id="menu">
		<a href="$_url/index_eng.jhtml">&nbsp;&nbsp;HOME PAGE&nbsp;</a> <span class="seperator"> | <a href="$_url/about/aboutus_eng.jhtml">&nbsp;&nbsp;ABOUT RUKING&nbsp;</a> <span class="seperator"> | </span><a href="$_url/products_eng.jhtml">&nbsp;PRODUCTS&nbsp;</a>&nbsp;<span class="seperator"> | </span>
		<a href="$_url/about/customerservice_eng.jhtml">&nbsp;CONTACT US&nbsp;&nbsp;</a></div><td>      </tr>
        </tbody></table>
    </td>
	<td style="width:300px;"></td>
  </tr>
</tbody></table>
