	<table width="900px" align=center border="1">		<tr><td valign="top" width="350px">			#set($imgurl = $id+".jpg")			<a href="$_url/item.jhtml?id=$id"><image src="/static/img/products/$imgurl"></a>			</td><td width="550px">			<table border="1">			#foreach($attr in $attrs)			<tr><td>$attr.AttrName : $attr.AttrValue</td></tr>			#end			</table>			</td></tr>	</table>