	<table width="900px" align="center" border="0">		<tr align="left"><td valign="top" width="500px">			#set($imgurl = $id+".jpg")			#set($docurl = $id+".doc")			<a href="$_url/item.jhtml?id=$id"><image width="500px" height="400px" height src="/static/img/products/$imgurl"></a>			</td>			<td width="400px" align="left" valign="top">			<table border="0" valign="top">			<tr><td align="center" style="font-size:24px;height:50px;"><b>$pDTO.title</b></td></tr>			<tr><td><a href=/static/manual/$docurl>[下载说明书]</a></td></tr>			<tr><td>			<table>			#foreach($attr in $attrs)			<tr><td align="left"><b>$attr.AttrName : </b></td><td>$attr.AttrValue</td></tr>			#end			</table></td></tr>			</table>			</td></tr>			<tr><td colspan=2 align="left" style="height:50px;"><b>$pDTO.description</b></td></tr>	</table>