## ID,Title,Description,Category,SubCategory<a href="$_url/editproduct.jhtml?act=add"> 添加产品 </a><table><tr><th>ID</th><th>Title</th><th>Description</th><th>Category</th><th>SubCategory</th></tr></table>