	<link type="text/css" rel="stylesheet" href="static/css/body/category.css">    <script type="text/javascript" language="javascript" src="static/js/category.category/category.category.nocache.js"></script>	<table border="1"  style="margin-top:-20px;"><tr><td width="200px" ><div id="category"></div></td>	<td width="500px">xx</td>		</tr></table>