	<link type="text/css" rel="stylesheet" href="static/css/body/category.css">    <script type="text/javascript" language="javascript" src="static/js/category.category/category.category.nocache.js"></script>	<table border="0"  style="margin-top:-20px;"><tr><td width="150px" ><div id="category"></div></td>	<td width="750px">xx</td>		</tr></table>