			<style>p
			{
				text-align:left;
			}
			</style>
<h3 style="text-align: center;">
			锂电隔膜技术与产业化将成发展重点</h1>
		<p style="align:left;">
			&nbsp;&nbsp;&nbsp; 行业资料显示，2010年全球锂离子电池隔膜产量达3.69亿m2，其中超过30%的产品在中国市场消化。同时，中国国内的隔膜生产力量十分薄弱，全国的隔膜生产能力占全球总能力为6%左右，产品大多进入中低端市场。<p>
			&nbsp;&nbsp;&nbsp; 目前我国超过80%的隔膜需要从海外进口，隔膜材料已经成为国内锂电池行业的发展的瓶颈。无论是从市场还是技术而言，我国电池隔膜行业发展潜力都非常巨大。</p>
		<p>
			&nbsp;&nbsp;&nbsp; 电池隔膜产业的发展受到了国家的重视和政策的鼓励。由国家发改委公布的《产业结构调整指导目录（2011年本）》中，电池隔膜（厚度15～40μm，孔隙率40%～60%）被列入鼓励类项目。</p>
		<p>
			在未来几年里，如何开发自主知识产权的技术，并实现中高端产品的产业化，将成为锂电池隔膜行业发展的重点。		</p>
