			<style>p
			{
				text-align:left;
			}
			</style>
<h1 style="text-align: center;">
			锂电池在电动自行车中的机遇分析</h1>
		<p style="align:left;">
			&nbsp;&nbsp;&nbsp; 电动汽车的发展速度并不如行业人士预期的那么快，相应地电动汽车用锂电池的销售仍处于较小规模。但我国电动自行车保有量和年产量都非常庞大，2010年我国电动自行车产量2954万辆，同比增长33%，而电动自行车社会保有量超过一亿二千万辆。由于具有成本优势，铅酸电池占据电动自行车用电池市场的主要份额，锂电池不足4%。</p>
		<p>
			&nbsp;&nbsp;&nbsp; 从2011上半年开始，由于环保部等9部委对铅酸电池生产行业的大规模整顿，以及公安部等对电动自行车重量作出新的要求，锂电池在电动自行车领域迎来了新的发展机遇。</p>
		<p>
			<strong>&mdash;&mdash;铅酸电池产不足需，价格飙涨</strong></p>
		<p>
			&nbsp;&nbsp;&nbsp; 2011年5月18日，环保部下发《关于加强铅蓄电池及再生铅行业污染防治工作的通知》，要用最严厉的手段全面整治铅蓄电池行业、铅再生行业。据环保部预计，现全国约2000家铅酸蓄电池企业将有1000多家被淘汰，整顿后能保留的厂商不足300家。</p>
		<p>
			&nbsp;&nbsp;&nbsp; 从上海市环保局获悉，全市原列入管理目录的17家铅蓄电池企业中，已关停6家。这些企业只有通过严格的环保验收，才可能恢复生产。</p>
		<p>
			&nbsp;&nbsp;&nbsp; 铅酸蓄电池企业的关门整顿，电池产能的严重缺失，给庞大的电动车行业带来了巨大的冲击，全国各地电动车车行的&ldquo;电池荒&rdquo;，使得多家电动车企业老板出动，全国找电池。宁波电动车卖场甚至出现&ldquo;空车无电池&rdquo;现象。</p>
		<p>
			供需的强烈差距，直接导致铅酸蓄电池价格的直线上涨，自7月销售旺季来临后，电池价格更是风生水起，半年以来，铅酸电池的涨幅已超过40%。据最新市场行情，一辆48V20AH的电动车，今年5月份，其铅酸电池市场价达600元左右；7月份的电池涨到800元左右；8月份的电池市场价直逼900元，且随着铅酸电池货源紧缺，价格仍会飙涨，与之相应的，原材料铅的价格却下降了近10%，更是促成了如今铅酸电池暴利的狂欢。</p>
		<p>
			&nbsp;&nbsp;&nbsp; 价格较高原来是锂电池相比铅酸电池的主要缺点，一块锂电池的制造成本就要上千元，包含车架等其他零配件，一辆车的价格至少要在2000元以上，比较好的锂电池车甚至要高达4000元/辆以上。而铅酸蓄电池车的总车价不过是1000多元。但随着电动自行车用电池的价格高位企稳，以及铅酸电池产不足需现象的持续，锂电池将成为电动自行车的必然选择。</p>
		<p>
			<strong>&mdash;&mdash;铅酸电池的重量难以满足新的要求</strong></p>
		<p>
			&nbsp;&nbsp;&nbsp; 随着铅酸蓄电池行业的整顿，电动车产业逐步暴露出的严重环保问题，国家对电动车&ldquo;限速限重&rdquo;规定的重申，使得此行业引起许多的关注。</p>
		<p>
			&nbsp;&nbsp;&nbsp; 今年5月底，公安部、工信部、工商总局、质检总局下发的《关于加强电动自行车管理的通知》表明，&ldquo;时速不超过20公里、整车质量(重量)不大于40公斤&rdquo;为电动自行车的及格线，不符合该标准的均为超标车，禁止生产、销售、上路。而这一规定，或许恰好为锂电池电动车的前景铺设了广阔的发展道路。</p>
		<p>
			&nbsp;&nbsp;&nbsp; 锂电池的循环寿命长，放电平台平缓，单个电池的电压高，能量密度高也就是电池比较轻；</p>
		<p>
			&nbsp;&nbsp;&nbsp; 铅酸电池的循环寿命差，能大电流放电，比较重，而且铅和硫酸都污染环境，但是比锂电池从经济性考虑，由电池重量的增加造成运输能力的损失是逃避不了的问题。以11米电动公交车为例，若采用160kWh动力锂离子电池，电池组重量约1.8吨，而采用阀控铅酸电池组，则重量超过6吨。阀控铅酸电池比动力锂离子蓄电池超重4吨左右。而该车有效载荷一般为3.8吨～4.2吨之间。采用铅酸蓄电池与锂离子电池比，由于重量的增加，有效载荷损失为4吨左右。</p>
		<p>
			&nbsp;&nbsp;&nbsp; 苏州龙跃锂动车辆有限公司(下称&ldquo;苏州龙跃&rdquo;)一位研发负责人称，锂电池与铅酸蓄电池都有24V、36V和48V等电流容量的分类。如果按国家标准看，锂电池车最好选择36V的电流容量车型，因为24V的锂电池产品，存在&ldquo;低温衰减的问题&rdquo;。而如果是48V的电动车，其提供的能量虽很大，但车速会过快，会产生安全性问题。</p>
		<p>
			&nbsp;&nbsp;&nbsp; 对照国家出台的&ldquo;时速20公里、整车重不超过40公斤&rdquo;这条规定看，铅酸蓄电池的问题就显然易见了。</p>
		<p>
			&nbsp;&nbsp;&nbsp; 前述研发人员表示，电动车要控制在40公斤以下的话，其电池最多只能10多公斤重。从上述经济性比较就可看出锂电池的重量优势，在相同重量下锂电池也表现出较好的工作性能。</p>
		<p>
			总的来说，锂电池代表了未来先进二次电池的发展方向，在环保、续航力和功率方面相比铅酸电池都具有优势。在环保要求越来越严格的趋势下，铅酸电池的产能将进一步缩小；而相关部门对电动车重量的新标准，也将限制铅酸电池在电动自行车的进一步应用。随着锂电池成本的逐年下降，可以预期未来将在电动自行车电池领域占据更大的市场份额。</p>

