<style>
.article{
    line-height: 25px;
    text-indent: 2em;
	}</style>
<table width="768" cellspacing="0" cellpadding="0" border="0" align="left">
            <tbody>
            <tr>
              <td valign="top" align="left" style="font-size:12px;" colspan="2">
<div class="article">
    <p><strong>東莞如金自動化設備科技有限公司</strong>
    </p>
    <p>地址：廣東省東莞市萬江區上甲社區書院路85號 </p>
    <p>電話：+86-0769-28639587</p>
    <p>傳真：+86-769-23151645</p>
    <p style="font-weight: bold;">業務部</p>
    <p>電話：+86-769-28639587      </p>
	<p>手機：13712349386      </p>
    <p>郵件：sales@ruking-cn.com      </p>
    <p>技術支援：support@ruking-cn.com</p>
  </div>
  </td></tr></table>
             </td>
              </tr>
          </tbody></table>