<style>
.article{
    line-height: 25px;
    text-indent: 2em;
	}</style>
<table width="768" cellspacing="0" cellpadding="0" border="0" align="left">
            <tbody>
            <tr>
              <td valign="top" align="left" style="font-size:12px;" colspan="2">
<div class="article">
    <p><strong>Ruking Automated Device Tech. Ltd. Co.</strong>
    </p>
    <p>Address：ShuYuan Road 85#,WanJiang District,DongGuan City,Guang Dong Province </p>
    <p>Tel. +86-0769-28639587</p>
    <p>Fax. +86-769-23151645</p>
    <p style="font-weight: bold;">Business Division</p>
    <p>Tel. +86-769-28639587      </p>
	<p>Mobile：13712349386      </p>
    <p>Email Box：sales@ruking-cn.com      </p>
    <p>Support: support@ruking-cn.com</p>
  </div>
  </td></tr></table>
             </td>
              </tr>
          </tbody></table>