<table border=0><tr align="left">
<td background= height="180">
<img src="/static/img/header/latestproducts.jpg" alt="最新产品">
</td></tr>
<tr><td>
<table width="100%" cellspacing="0" cellpadding="0" border="0"  style="font-size:12px;">
  <tbody><tr>
    <td height="20" align="center"><table cellspacing="5" cellpadding="3" bordercolor="#ffffff" border="1" align="center">
      <tbody><tr>
        <td bordercolor="#CCCCCC"><a href="shop/?type=detail&amp;id=509"><img height="105" width="120" border="0" src="http://www.szslsb.cn/shop/common/upload/2010/4/6/151138JE.jpg"></a></td>
      </tr>
    </tbody></table>
    　SL-398多组烙铁全..</td>
    
    <td height="20" align="center"><table cellspacing="5" cellpadding="3" bordercolor="#ffffff" border="1" align="center">
      <tbody><tr>
        <td bordercolor="#CCCCCC"><a href="shop/?type=detail&amp;id=508"><img height="105" width="120" border="0" src="http://www.szslsb.cn/shop/common/upload/2010/4/6/151029up.jpg"></a></td>
      </tr>
    </tbody></table>
    　SL-368-D全自动..</td>
    
    <td height="20" align="center"><table cellspacing="5" cellpadding="3" bordercolor="#ffffff" border="1" align="center">
      <tbody><tr>
        <td bordercolor="#CCCCCC"><a href="shop/?type=detail&amp;id=507"><img height="105" width="120" border="0" src="http://www.szslsb.cn/shop/common/upload/2010/4/6/1597d8.jpg"></a></td>
      </tr>
    </tbody></table>
    　SL-368-S全自动..</td>
    
    <td height="20" align="center"><table cellspacing="5" cellpadding="3" bordercolor="#ffffff" border="1" align="center">
      <tbody><tr>
        <td bordercolor="#CCCCCC"><a href="shop/?type=detail&amp;id=506"><img height="105" width="120" border="0" src="http://www.szslsb.cn/shop/common/upload/2010/4/6/15646mh.jpg"></a></td>
      </tr>
    </tbody></table>
    　SL-318破锡送锡器..</td>
    
  </tr>
  <tr>
    <td height="20" align="center"><table cellspacing="5" cellpadding="3" bordercolor="#ffffff" border="1" align="center">
      <tbody><tr>
        <td bordercolor="#CCCCCC"><a href="shop/?type=detail&amp;id=505"><img height="105" width="120" border="0" src="http://www.szslsb.cn/shop/common/upload/2010/4/6/1553272.jpg"></a></td>
      </tr>
    </tbody></table>
    　SL-308全自动破锡..</td>
    
    <td height="20" align="center"><table cellspacing="5" cellpadding="3" bordercolor="#ffffff" border="1" align="center">
      <tbody><tr>
        <td bordercolor="#CCCCCC"><a href="http://www.szslsb.cn/shop/?type=detail&amp;id=502"><img height="105" width="120" border="0" src="http://www.szslsb.cn/shop/common/upload/2010/4/6/145717e9.jpg"></a></td>
      </tr>
    </tbody></table>
    　SL-338全自动攻牙..</td>
    
    <td height="20" align="center"><table cellspacing="5" cellpadding="3" bordercolor="#ffffff" border="1" align="center">
      <tbody><tr>
        <td bordercolor="#CCCCCC"><a href="shop/?type=detail&amp;id=501"><img height="105" width="120" border="0" src="http://www.szslsb.cn/shop/common/upload/2010/4/6/145529NI.jpg"></a></td>
      </tr>
    </tbody></table>
    　SL-328全自动高尔..</td>
    
    <td height="20" align="center"><table cellspacing="5" cellpadding="3" bordercolor="#ffffff" border="1" align="center">
      <tbody><tr>
        <td bordercolor="#CCCCCC"><a href="shop/?type=detail&amp;id=511"><img height="105" width="120" border="0" src="http://www.szslsb.cn/shop/common/upload/2010/4/6/153432up.jpg"></a></td>
      </tr>
    </tbody></table>
    　液晶组装线</td>
    
  </tr>
</tbody></table>
	</td></tr>
	
<tr align="left">
<td background= height="180">
<img src="/static/img/header/companyintroduction.jpg" alt="如金公司介绍">
</td></tr>
<tr>
<td width="100">
<p style="font-size:12px;"><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;深圳市三力电子设备有限公司成立以来，是致力于集规划、设计、研制和销售（整厂自动化设备）于一体的专业公司。2007年与日本松岛精密机械公司技术合作，共同开发全自动焊锡机（焊锡机器人）系列产品，主要有：点焊机系列；脱焊机系列；焊线机系列，通过中日双方研发人员的共同努力，产品的各项技术指标和总体质量达到日本同类产品的标准，并申请了多项国家技术专利。<br><br>　　主要产品有：自动焊锡机系列，脱焊机系列；焊线机系列，破锡机，自动送锡手工焊台，焊锡机器人，全自动高尔夫球批锋切除机；自动攻牙机系列；液晶电视自动组装线；节能灯组装线等组装线系列......</p></td></tr>
<tr><td>
<table><tr><td>
<table  style="font-size:12px;"><tr><td>
<img src="/static/img/header/companynews.jpg" alt="公司新闻">
</td></tr>
<tr>
    <td height="25"><img border="0" align="absmiddle" src="http://www.szslsb.cn/common/images/skins/mailnew_07.jpg"> <a href="article/?type=detail&amp;id=73" target="_self">三力欢度国庆</a></td>
  </tr>
  <tr>
    <td height="25"><img border="0" align="absmiddle" src="http://www.szslsb.cn/common/images/skins/mailnew_07.jpg"> <a href="article/?type=detail&amp;id=72" target="_self">庆祝中华人民共和国成立61周..</a></td>
  </tr>
  <tr>
    <td height="25"><img border="0" align="absmiddle" src="http://www.szslsb.cn/common/images/skins/mailnew_07.jpg"> <a href="article/?type=detail&amp;id=70" target="_self">使用全自动焊锡机的好处的有..</a></td>
  </tr>
  <tr>
    <td height="25"><img border="0" align="absmiddle" src="http://www.szslsb.cn/common/images/skins/mailnew_07.jpg"> <a href="article/?type=detail&amp;id=68" target="_self">深圳三力电子设备有限公司相..</a></td>
  </tr>
  <tr>
    <td height="25"><img border="0" align="absmiddle" src="http://www.szslsb.cn/common/images/skins/mailnew_07.jpg"> <a href="article/?type=detail&amp;id=67" target="_self">深圳三力电子设备现面向全国..</a></td>
  </tr>
  <tr>
    <td height="25"><img border="0" align="absmiddle" src="http://www.szslsb.cn/common/images/skins/mailnew_07.jpg"> <a href="article/?type=detail&amp;id=66" target="_self">2010年深圳电子生产设备展</a></td>
  </tr>
</table></td>

<td  valign="top">
	
	<table  style="font-size:12px;"><tr><td>
<img src="/static/img/header/industrynews.jpg" alt="行业资讯">
	</td></tr>
<tr>
    <td height="25"><img border="0" align="absmiddle" src="http://www.szslsb.cn/common/images/skins/mailnew_07.jpg"> <a href="article/?type=detail&amp;id=63" target="_self">SL-318搭配焊台的适用范围..</a></td>
  </tr>
  <tr>
    <td height="25"><img border="0" align="absmiddle" src="http://www.szslsb.cn/common/images/skins/mailnew_07.jpg"> <a href="article/?type=detail&amp;id=62" target="_self">剥线机可以配焊台工作吗？</a></td>
  </tr>
  <tr>
    <td height="25"><img border="0" align="absmiddle" src="http://www.szslsb.cn/common/images/skins/mailnew_07.jpg"> <a href="article/?type=detail&amp;id=61" target="_self">防锡解锡送锡机适用哪些范围..</a></td>
  </tr>
  <tr>
    <td height="25"><img border="0" align="absmiddle" src="http://www.szslsb.cn/common/images/skins/mailnew_07.jpg"> <a href="article/?type=detail&amp;id=60" target="_self">直流马达破锡机和步进马达破..</a></td>
  </tr>
  <tr>
    <td height="25"><img border="0" align="absmiddle" src="http://www.szslsb.cn/common/images/skins/mailnew_07.jpg"> <a href="article/?type=detail&amp;id=59" target="_self">318破锡送锡器分哪几种？</a></td>
  </tr>
  <tr>
    <td height="25"><img border="0" align="absmiddle" src="http://www.szslsb.cn/common/images/skins/mailnew_07.jpg"> <a href="article/?type=detail&amp;id=58" target="_self">什么是步进马达破锡送锡器？..</a></td>
  </tr>

</table>
	
	
</td></tr></table>
</td></tr>
	
	</table>