			<style>p
			{
				text-align:left;
			}
			</style>
		<h1 style="text-align: center;">
			聚焦2011工博会，产业升级精彩起步</h1>
		<p>
			&nbsp;&nbsp;&nbsp; 1月1日-5日，2011工博会在上海新国际博览中心举行，本届工博会共设有数控机床与金属加工展、工业自动化展、环保技术与设备展、新能源与电力电工 展、新能源汽车展、信息与通讯技术展、科技创新展以及航空航天技术展8大专业展，以&ldquo;创新转型与战略新兴产业&rdquo;为主题集中展示了技术创新能力和战略新兴产 业的崛起。本届工博会得到了国家领导的关注与支持，中共中央政治局委员、中共上海市委书记俞正声，工业和信息化部部长苗圩，工博会组委会主任、上海市市长 韩正，国家发展和改革委员会副主任刘铁男等国家各部委、省市主要领导出席以及部分中外知名企业负责人出席了开幕式。</p>
		<p>
			&nbsp;&nbsp;&nbsp; 工业自动化展作为工博会主要构成部分，重点展示工业机器人、传感器连接器、工业以太网技术、工控嵌入式技术、运动控制、电源、盘柜、机械安全等领域的最 新工控自动化产品和技术。西门子、ABB、发那科、富士电机、史陶比尔、菲尼克斯、图尔克、威图、德国库卡机器人、日本安川电机、欧姆龙、韩国LS产电、 美国海德汉、深圳汇川、德国博士力士乐等国内外领先企业携新产品、新技术纷纷亮相。</p>
		<p>
			&nbsp;&nbsp;&nbsp; 自动化厂商在11月1日到3日举办了新产品新技术发布会。期间，发那科发布了最新小型高速机器人；而西门子发布的面向中端市场的Simotics GP 1LE0高效电机，是西门子首次为满足中国和亚洲市场需要，在中国实现本地化生产的一款产品。其他厂商的产品有：LS产电IE7、IS7变频器；普洛菲斯 面向国内中低端市场推出了GP4000M系列产品；欧姆龙NB系列触摸屏和NJ501机器控制产品；伊码全球首发新一代智能流量传感器；EPSON工业机 器人解决方案，以及富士电机提出了&ldquo;创新&middot;节能<span>&rdquo;专家口号为用户提供最佳解决方案。从国外自动化厂商发布新品面向的市场和新产品都在致力于服 务中国市场，意味着中国自动化市场在未来潜力巨大。这些主要得益于我国战略新兴产业的发展及创新升级，尽管下半年受全球经济环境影响，自动化厂商、OEM 用户业务出现了滑坡，但是并没有影响自动化企业的发展，对于大多数企业来说他们选择了产业升级的方式，为企业发展积蓄力量</span>。</p>
		<p>
			&nbsp;&nbsp;&nbsp;&nbsp; 作为本次展会焦点之一工业机器人专区引人瞩目，ABB机器人现场演绎搬运、喷涂、安装等高难度动作，发那科机器人、库卡、爱普生等机器人也分 别展示了真实力。在工业以太网专区，人们除了可以领略到传统工业以太网企业的产品和技术之外，还可以看到Profibus&amp; Profinet、CC-link、Powerlink、EtherCAT等各大主要工业以太网协议组织参展。</p>
		<p>
			&nbsp;&nbsp;&nbsp; 除了企业展示产品之外，结合今年工博会主题，各大论坛也是竞相开放。论坛分为&ldquo;发展论坛&rdquo;、&ldquo;科技论坛&rdquo;和&ldquo;行业与企业论坛&rdquo;三大板块，共安排60多项论 坛活动，包括OEM机械设计技术高峰论坛、合同能源论坛、2011全球物联网产业发展论坛、2011数字化制造技术高峰会议、2011 国际机器人与自动化研讨会等。在本届工博会上，gongkong市场研究部举办了2011年中国自动化市场分析及发展趋势研究分享报告会。面对自动化市场 的快速发展，在存量市场规模以数千亿计，基础服务市场逐渐显现的情况下，工控市场研究部政策与存量研究总监郭雅琴女士作了题为 &ldquo;中国自动化服务市场&mdash;&mdash;于尴尬中涅槃&rdquo;的主题报告，工控市场研究李文双针对工业节能市场潜力发表了&ldquo;工业节能-看起来很美&rdquo;的演讲。</p>
		<p>
			&nbsp;&nbsp;&nbsp; 战略新兴产业作为我国创新转型和产业结构调整升级的重要抓手，在&ldquo;十二五&rdquo;的开局之年发力，使得自动化行业呈现出了产业升级的良好局面。自动化企业已经不 再停留于产品阶段，而是综合产品优势结合用户需求，推出自动化行业解决方案；机器人也越来越人性化，促进了我国工厂自动化快速发展，从传统生产方式向着工 业自动化生产方式全面进军；用户在选择产品或者解决方案的时候&ldquo;节能、高效&rdquo;已经成为首选标准。这一切都在显示着产业升级已精彩起步。</p>
		<p style="text-align: right;">
			<span style="font-size: 12px;">来源：中国工控网</span></p>