			#parse("include/header.vm")
			<div style="background:url('/static/img/body/background.jpg') repeat-x fixed bottom center;">
			#parse("include/breadcrum.vm")

<link href="/static/css/body/nav.css" type="text/css" rel="stylesheet">
<table width="100%" border="0"><tr><td valign="top" width="320px">
	<table align="right" class="nav" border="0" width="180px">
		<tr><td align=""><a href="$_url/about/aboutus.jhtml?id=1">&nbsp;&nbsp;如金愿景&nbsp;&nbsp;</a></td></tr>
		<tr><td><a href="$_url/about/aboutus.jhtml?id=2">&nbsp;&nbsp;如金使命&nbsp;&nbsp;</a></td></tr>
		<tr><td><a href="$_url/about/aboutus.jhtml?id=3">&nbsp;&nbsp;如金价值观&nbsp;&nbsp;</a></td></tr>
		<tr><td><a href="$_url/about/aboutus.jhtml?id=4">&nbsp;&nbsp;经营理念&nbsp;&nbsp;</a></td></tr>
		<tr><td><a href="$_url/about/aboutus.jhtml?id=5">&nbsp;&nbsp;产品定位&nbsp;&nbsp;</a></td></tr>
		<tr><td><a href="$_url/about/aboutus.jhtml?id=6">&nbsp;&nbsp;如金信条&nbsp;&nbsp;</a></td></tr>
		</table></td>

<td align=left>
<h1 align="center" style ="font-size:32px;color: #606060;padding-bottom:0px;margin-bottom:15px">	如金公司简介</h1>
<table width="800" border="0" align="center"><tr><td width="100%">

<p>
	<b  style="font-size:14px;">如金价值观</b> ----  公司核心价值观是扎根于我们内心深处的核心信念，是公司的内在动力，更是我们面向未来的共同承诺。由此持续不断地为客户创造价值，进而形成感恩共赢文化!
我们追求：</p>	<div style="text-indent:3em;"><strong>1) </strong>成就客户:一切为了客户，客户需求是如金公司发展的原动力。我们坚持以客户为中心，快速响应客户需求，持续为客户创造长期价值进而成就客户。为客户提供有效服务，是我们工作的方向和价值评价的标尺，成就客户就是成就我们自己。
	</div><div style="text-indent:3em;"><strong>2)</strong>&nbsp;&nbsp;集思广益:象风暴一样把客户的意见，团队成员的灵感、思维和想法统统收集，然后从中寻找先进的技术、产品、解决方案和业务管理。
	</div><div style="text-indent:3em;"><strong>3)</strong>&nbsp;&nbsp;激情创新:创造企业氛围，形成激情团队，开放进取，达至锲而不舍的创新追求！。
	</div><div style="text-indent:3em;"><strong>4)</strong>&nbsp;&nbsp;感恩共赢:如金是所有利益相关者的如金，主要包括员工、客户、股东。只有员工、用户和股东持续共赢，如金才有可能实现永续经营。
	</div>
	<div style="padding-left:80px;"><img src="/static/img/about/value.jpg" width="300px" height="200px" align="center" alt="价值观"/></div>
	
	</td></tr>
</table>
<br /><br /><br /><br />
</td>
</tr></table>

			</div>
			#parse("include/footer.vm")