<script>
function enlarge(var obj){
	alert('xxx');
	obj.style.width="400px";
	obj.style.height="600px";
}
</script>
<style>
.myButtonLink {
	display: block;
	width: 204px;
	height: 295px;
	background: url('/static/img/about/维护保养简单的电子测试装置_small.jpg') bottom;
}
.myButtonLink:hover {
	background-position: 0 0;
	width: 493px;
	height: 715px;
	background: url('/static/img/about/维护保养简单的电子测试装置.jpg') bottom;
}
</style>
#parse("include/aboutus/aboutcommon.vm")

<td align=left>
<table width="800" border="0" align="center"><tr><td width="30%">
<a class="myButtonLink"></a>
</td></tr>
</table>
<br /><br /><br /><br />
</td>
</tr></table>
</div>