#parse("include/aboutus/common.vm")

<td align=left>
<h1 align="center" style ="font-size:32px;color: #606060;padding-bottom:0px;margin-bottom:15px">	如金公司简介</h1>
<table width="800" border="0" align="center"><tr><td width="100%">

<p >
	<b  style="font-size:14px;">如金信条</b> ----  </p>	<div style="text-indent:3em;"><strong>1)</strong>凡事认真；
	</div><div style="text-indent:3em;"><strong>2)</strong>问题总会发生，将问题控制在前期；
	</div><div style="text-indent:3em;"><strong>3)</strong>细节决定成败。
	</div>
	
	</td></tr>
</table>
<br /><br /><br /><br />
</td>
</tr></table>

			</div>
			#parse("include/footer.vm")