<table align="center" width="800" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff">
  <tbody><tr>
    <td height="65" width="200"><img alt="" src="http://www.szclou.com/images/i_03.jpg"></td>
	<td valign="bottom">
        <table width="100%" cellspacing="0" cellpadding="0" border="0"  style="font-size:12px;">
          <tbody><tr>
                <td valign="bottom"><a href="index.jhtml">简体 </a> | <a href="reg.asp">繁體 </a> | <a href="reg.asp">ENGLISH</a></td>
				<td align="right" ><a href="reg.jhtml">新用户注册</a> | <a href="searchpass.asp">忘记密码</a></td>
          </tr>
          <tr>
            <td align="right" colspan=4 valign="bottom">
				<table width="100%" cellspacing="0" cellpadding="0" border="0"  style="font-size:12px;">
			  <form onsubmit="return checkformlogin()" name="formlogin" action="checklogin.asp" method="post"></form>
                <tbody><tr>
                  <td width="280" align="right">用户名：<input type="text" size="15" id="loginuserID" name="loginuserID"></td>
                  <td width="30">密码：<input type="password" size="15" id="loginpassword" name="loginpassword"></td>
                  <td width="50" align="right"><input type="image" src="http://www.szclou.com/images/ann.jpg" name="Submit"></td>
                </tr>
              </tbody></table>
            </td>
          </tr>
        </tbody></table>
    </td>
  </tr>
</tbody></table>
	<table width="800" cellspacing="0" cellpadding="0" border="1">
  <tbody><tr>
    <td width="800" style="background-color:#12328b;">
<link href="static/css/header/header.css" type="text/css" rel="stylesheet">
    <table width="750" cellspacing="0" cellpadding="0" border="0" align="left" id="menu">
      <tbody><tr>
        <td width="90"><a href="index.asp">首 页</a></td>
        <td width="1"><img height="28" width="1" alt="" src="http://www.szclou.com/images/i_11.jpg"></td>
        <td><a href="aboutshow.asp">关于科陆</a></td>
        <td width="1"><img height="28" width="1" alt="" src="http://www.szclou.com/images/i_11.jpg"></td>
        <td><a href="solutions.asp">产品与解决方案</a></td>
        <td width="1"><img height="28" width="1" alt="" src="http://www.szclou.com/images/i_11.jpg"></td>
        <td><a href="service01.asp">客服中心</a></td>
        <td width="1"><img height="28" width="1" alt="" src="http://www.szclou.com/images/i_11.jpg"></td>
        <td><a target="_blank" href="http://irm.p5w.net/ssgs/S002121/index.html">投资者关系</a></td>
        <td width="1"><img height="28" width="1" alt="" src="http://www.szclou.com/images/i_11.jpg"></td>
        <td><a href="job.asp">招贤纳士</a></td>
      </tr>
    </tbody></table></td>
</div></td>
        </tr>
      </tbody></table>
    </td>
  </tr>
</tbody></table>