<table width="768" cellspacing="0" cellpadding="0" border="0" align="left">
            <tbody>
            <tr>
              <td valign="top" height="600" align="left" style="font-size:12px;" colspan="2">
				<p align="center"><span style="FONT-SIZE: 13px"><strong>东莞如金自动化设备科技有限公司</strong></span></p>
				<p style="MARGIN-TOP: 2px"><span style="FONT-SIZE: 13px">&nbsp;&nbsp;&nbsp; 地址：广东省东莞市万江区上甲社区书院路85号 <br>&nbsp;&nbsp;&nbsp; 总机：+86-0769-28639587<br>&nbsp;&nbsp;&nbsp; 传真：+86-769-23151645<br>&nbsp;&nbsp;&nbsp; 邮编：523039</span></p>
				<p><span style="FONT-SIZE: 13px">
				</span></p>
				<table width="100%" cellspacing="2" cellpadding="3" bordercolor="#ffffff" border="1" bgcolor="#ffffff" align="center" style="WIDTH: 100%; BORDER-COLLAPSE: collapse; TEXT-ALIGN: center">
	<tbody>
	<tr>
	<td><a href=$!_url/geo.html>大地图全屏查看</a></td></tr><tr>
	<td ><img border="0" width="100%" height="100%" src="$!_url/static/img/body/geo.jpg"></td>
	</tr></tbody></table><p></p>
             </td>
              </tr>
          </tbody></table>
</td>
</td></tr></table>