<style>
.article{
    line-height: 25px;
    text-indent: 2em;
	font-size:12px;
	}</style>
<span class="article">
    <strong>&nbsp;&nbsp;Ruking Automated Device Tech. Ltd. Co.</strong>
    <p>Address：ShuYuan Road 85#,WanJiang District,DongGuan City,Guang Dong Province </p>
    <p>Tel. +86-0769-28639587</p>
    <p>Fax. +86-769-23151645</p>
    <p style="font-weight: bold;">Business Division</p>
    <p>Tel. +86-769-28639587      </p>
	<p>Mobile：13712349386      </p>
    <p>Email Box：sales@ruking-cn.com      </p>
    <p>Support: support@ruking-cn.com</p>
  </span>
  </td></tr></table>
             </td>
              </tr>
          </tbody></table>