@charset "utf-8";
/* CSS Document */

form,ul,li,dl,dt,dd{
	list-style:none;
	padding:0px;
	margin:0px;
}
a{
	text-decoration:none;
}
a:hover,#menu a:hover{
	color:#ff0000;
}
img{
	border:none;
}
table{
	margin:auto;
}

.t01{
	background:url(images/t01.jpg) repeat-x;
	color:#006699;
	font-weight:bold;
	font-size:13px;
	line-height:26px;
	text-indent:10px;
}

#menu{
	text-align:center;
	font-size:13px;
	font-weight:bold;
}

#menu a{
	color:#d2f1ff;
}

