<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<servlet>
        <servlet-name>uServiceServlet</servlet-name>
        <servlet-class>test.server.UServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uServiceServlet</servlet-name>
        <url-pattern>gwt_ext/user</url-pattern>
    </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Gwt_ext.html</welcome-file>
  </welcome-file-list>

</web-app>
