<table width="200px;">
<tr><td style="background-color:FFFF00;font-size:18px;font-weight: bold;text-indent: 5px;">客户服务</td></tr>
<tr><td style="background-color:FFFF8F;font-size:14px;text-indent: 25px;">服务承诺</td></tr>
<tr><td>产品手册</td></tr>
<tr><td>技术支持</td></tr>
<tr><td>问答互动</td></tr>
</table>