<link href="/static/css/body/nav.css" type="text/css" rel="stylesheet">
<table width="100%" border="0">
<tr><td colspan=2>
</td></tr><tr><td valign="top" width="320px">
	<table class="nav" border="0" width="160px" align="right">
		<tr><td align="center"><a href="$_url/about/customerservice_eng.jhtml?id=1" style = #if($id=='1')color:#00ffff;#else color:#ffff00;#end">联系我们</a></td></tr>
		<tr><td align="center"><a href="$_url/about/customerservice_eng.jhtml?id=2" style = #if($id=='2')color:#00ffff;#else color:#ffff00;#end">路线地图</a></td></tr>
##		<tr><td align="center"><a href="$_url/about/customerservice_eng.jhtml?id=3" style = #if($id=='3')color:#00ffff;#else color:#ffff00;#end">销售中心</a></td></tr>
	</table></td>
		<td valign="top" style="padding-left:25px;">