<table width="900px" align="center" border="0" cellpadding=5 style="border: 0px solid rgb(199, 214, 226); margin-top: 10px;">
<tr valign="top"><td align="left" width="30%" style="font-size:12px;color:#606060;">
<div><img src="/static/img/footer/aboutus.gif"></div><br />
<div>罗辉参考做三张图片,分别是"了解如金","行业动态","产品快讯",xx集团创立于xx年，创业xx年来，坚持创业和创新精神创世界名牌，已经从一家濒临倒闭的集体小厂发展成为全球拥有x万多名员工、xxxx年营业额xx亿元的全球化集团公司。xx已跃升为全球白色家电第一品牌，并被美国《新闻周刊》（Newsweek）网站评为全球十大创新公司。</td>
</td>
<td align=center>
xxx
</td>
<td align=center>
xxxx
</td>
</tr>
</table>
