<table style="width:800px;" align="center" border="0px"><tr><td>#if($currentTab=='user')用户#else<a href="$_url/listusers.jhtml">用户</a>#end | #if($currentTab=='product')产品#else<a href="$_url/listproducts.jhtml">产品</a>#end | #if($currentTab=='attribute')属性#else<a href="$_url/listattributes.jhtml">属性</a>#end | #if($currentTab=='article')资讯#else<a href="$_url/listarticles.jhtml">资讯</a>#end | #if($currentTab=='solution')方案#else<a href="$_url/listsolutions.jhtml">方案</a>#end</td></tr></table>