	<link type="text/css" rel="stylesheet" href="category.css">    <script type="text/javascript" language="javascript" src="static/js/category.category/category.category.nocache.js"></script>	<div id="category"></div>