	<link type="text/css" rel="stylesheet" href="static/css/body/category.css">    <script type="text/javascript" language="javascript" src="static/js/cat/cat.nocache.js"></script>	<table width="850px" align=center border=0><tr><td valign="top" width="30px"><div id="category"></div></td>		<td style="width:800px;"><div id="productlist" style="padding-left:50px;padding-right:30px;width:800px;"></div></td></tr>	</table>