<div id="PARENT">
<ul id="nav">
<li class=""><a target="_self" href="shop/?type=list&amp;classid=40"><strong>自动焊锡机器人</strong></a>
<ul class="collapsed" id="ChildMenu40"></ul></li>
<li class=""><a target="_self" href="shop/?type=list&amp;classid=41"><strong>破锡送锡器</strong></a>
<ul class="collapsed" id="ChildMenu41"></ul></li>
<li><a target="_self" href="shop/?type=list&amp;classid=42"><strong>自动送锡焊台</strong></a>
 <ul class="collapsed" id="ChildMenu42">
</ul></li>
<li><a target="_self" href="shop/?type=list&amp;classid=43"><strong>多头焊锡机组</strong></a>
 <ul class="collapsed" id="ChildMenu43">
</ul></li>
       <li><a target="_self" href="shop/?type=list&amp;classid=44"><strong>专利送锡管</strong></a>
 <ul class="collapsed" id="ChildMenu44">
</ul></li>

      
       <li><a target="_self" href="shop/?type=list&amp;classid=45"><strong>破锡机进口金刚刀片</strong></a>
 <ul class="collapsed" id="ChildMenu45">
</ul></li>
       <li><a target="_self" href="shop/?type=list&amp;classid=86"><strong>焊锡机专用烙铁嘴</strong></a>
 <ul class="collapsed" id="ChildMenu86">
</ul></li>
       <li><a target="_self" href="shop/?type=list&amp;classid=87"><strong>全自动攻牙机</strong></a>
 <ul class="collapsed" id="ChildMenu87">
</ul></li>

      
       <li><a target="_self" href="shop/?type=list&amp;classid=88"><strong>高尔夫球批锋削边机</strong></a>
 <ul class="collapsed" id="ChildMenu88">
</ul></li>
       <li><a target="_self" href="shop/?type=list&amp;classid=89"><strong>液晶电视生产线 </strong></a>
 <ul class="collapsed" id="ChildMenu89">
</ul></li>
       <li><a target="_self" href="shop/?type=list&amp;classid=90"><strong>MP3/MP4生产线 </strong></a>
 <ul class="collapsed" id="ChildMenu90">
</ul></li>
       <li><a target="_self" href="shop/?type=list&amp;classid=91"><strong>链板输送线 </strong></a>
 <ul class="collapsed" id="ChildMenu91">
</ul></li>
       <li><a target="_self" href="shop/?type=list&amp;classid=92"><strong>新型水濂柜 </strong></a>
 <ul class="collapsed" id="ChildMenu92">
</ul></li>
       <li><a target="_self" href="shop/?type=list&amp;classid=93"><strong>台板输送线</strong></a>
 <ul class="collapsed" id="ChildMenu93">
</ul></li>
       <li><a target="_self" href="shop/?type=list&amp;classid=94"><strong>无铅回流焊 </strong></a>
 <ul class="collapsed" id="ChildMenu94">
</ul></li>
</ul>
</div>
