    <script type="text/javascript" src="/static/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/static/scripts/jquery.cycle.all.2.72.js"></script>
    <script type="text/javascript">
      $(function() {
        $('#slideshow').cycle({
          fx:     'fade',//turnDown,fade,curtainX,scrollRight (click),zoom,shuffle
          speed:  'fast',
          timeout: 8000,
          pager:  '#nav',
          slideExpr: 'img',
          pagerEvent: 'mouseover',
          pauseOnPagerHover: true
        });
      });
    </script>
	<div id="slideshow" class="pics" style="border: #ddd solid 1px; width:550px; height: 248px; overflow: hidden;">
	<div id="nav"></div>
	<a href="$!_url/products/daylight_savings_lighting_sale"> <img  alt="Daylight Savings Lighting Sale" src="/static/img/rotationImg/DaylightSavings-web.jpg" border="0" width="550" height="250" /></a>
	<a href="$!_url/products/dolan-bathroom-lighting-sale"> <img  alt="Dolan Bathroom Lighting Sale" src="/static/img/rotationImg/dolan0911-web.jpg" border="0" width="550" height="250" /></a>
	<a href="$!_url/products/clearance"> <img  alt="Clearance Closeout" src="/static/img/rotationImg/clearance.jpg" border="0" width="550" height="250" /></a>
</div>