<table border=0  style="font-size:12px;">
	<tr align="left" >
<td valign="top">
<img src="$_url/static/img/leftBar/leftbarsearchproducts.jpg" alt="搜索产品">
</td></tr>
<tr align="left" >
<td valign="top">
&nbsp;<input type="text" name="keyword" size="15" class="input">
<input type="submit" name="submit" class="button" value="Go">
</td></tr>

<tr align="left" >
<td valign="top">
<img src="/static/img/leftBar/leftbarcontactus.jpg" alt="联系我们">
</td></tr><tr align="left" >
<td valign="top">
<img src="/static/img/header/contactus.jpg" alt="联系我们">
</td></tr>

<tr align="left" >
<td valign="top">
<img src="/static/img/leftBar/leftbarnotice.jpg" alt="网站公告">
</td></tr>
<tr>
<td width="50">尊敬的各界朋友们：
<br>　　感谢您对深圳三力设备有限公司的关注，在此，我谨代表深圳三力设备有限公司及全体员工向您致以最诚挚的感谢！</td>
</tr>
<tr align="left" >
<td valign="top">
<img src="/static/img/leftBar/leftbarlinks.jpg" alt="快速链接">
</td></tr>
<tr valign="center">
<td align="center">
<a title="国际电子网" href="http://www.elec.cc/" target="_blank">国际电子网</a></td></tr>
<tr>
<td align="center">
<a title="深圳电子商会" href="http://www.seccw.com/" target="_blank">深圳电子商会</a></td></tr>
<tr valign="center">
<td align="center">
<a title="圈子有多大，生意有多大" href="http://okvip.cn/" target="_blank">中国商业圈</a></td></tr>
<tr valign="center">
<td align="center">
<a title="最权威的行业导航" href="http://www.okvip.cn/" target="_blank">中国商业网</a></td></tr>

</table>