#parse("include/header.vm")
<div style="background:url('/static/img/body/background.jpg') repeat-x fixed top center; height:900px;">
#parse("include/breadcrum.vm")
#parse("include/news/news.vm")
</div>
#parse("include/footer.vm")